.graph {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#humid{ 
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#temp {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#comfort {
	margin-left: auto;
	margin-right: auto;
	display: block;
}